#wall-art-slide .wall-art-item:nth-child(1),
#wall-art-slide .wall-art-item:nth-child(2) {
  left: 0;
  
  
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
 
}

#wall-art-slide .wall-art-item:nth-child(3) {
  left: 50%;
}
#wall-art-slide .wall-art-item:nth-child(4) {
  left: calc(50% + 220px);
}
#wall-art-slide .wall-art-item:nth-child(5) {
  left: calc(50% + 440px);
}
#wall-art-slide .wall-art-item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

#wall-art-slide .wall-art-item:nth-child(2) .wall-art-content {
  display: block;
  z-index: 2;

}

#wall-art-slide .wall-art-item:nth-child(2) .wall-art-name {
  animation: wall-art-showcontent 1s ease-in-out 1 forwards;
}
#wall-art-slide .wall-art-item:nth-child(2) .wall-art-des {
  animation: wall-art-showcontent 1s ease-in-out 0.3s 1 forwards;
}
#wall-art-slide .wall-art-item:nth-child(2) .wall-art-btn {
  animation: wall-art-showcontent 1s ease-in-out 0.6s 1 forwards;
}

@keyframes wall-art-showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}
